<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><em>C & L</em></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    {{#if usuario}}
      {{#if usuario.rol}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Registro</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links/lista">Clientes</a>
            <a class="dropdown-item" href="/links/listaContainer/{{usuario.id}}">Productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Usuario</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Operaciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links/add">Agregar Cliente</a>
            <a class="dropdown-item" href="/links/agregarContainer">Agregar Contenedor</a>
            <a class="dropdown-item" href="#">Agregar Terminal</a>
            <a class="dropdown-item" href="#">Agregar Transporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/venta/{{usuario.id}}">Venta</a>
            <a class="dropdown-item" href="#">Consultas</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Personas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links/persona/{{usuario.id}}">Mis Datos</a>
            <a class="dropdown-item" href="/links/misProductos/{{usuario.id}}">Mis Productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/listaContainer/{{usuario.id}}">Productos</a>
          </div>
        </li>
        <li class="nav-itme">
          <a href="/salir" class="nav-link">Salir</a>
        </li>
      {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Personas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links/persona/:id">Mis Datos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links/misProductos/:id">Mis Productos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/links/venta/:id">Productos</a>
          </div>
        </li>
        <li class="nav-itme">
          <a href="/salir" class="nav-link">Salir</a>
        </li>
      {{/if}}
    {{ else}}
      <li class="nav-item">
        <a href="/ingreso" class="nav-link">Loguearse</a>
      </li>
      <li class="nav-item">
          <a href="/registro" class="nav-link">Registrarse</a>
      </li>
    {{/if}}
    </ul>
  </div>
</nav>