<div class="container mt-3">
    <div><h3 style="text-align: center;"><u> Editar Cliente </u>{{cliente.nombre}} </h3></div>
<table class="table table-bordered">
    <thead class="table-dark">
        
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cuit-Cuil-Dni</th>
            <th scope="col">Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form action="/links/editar/{{cliente.id}}" method="POST">
                <td><input type="text" value="{{cliente.nombre}}" class="form-control" name="nombre"
                        placeholder="Nombre y Apellido" autofocus></td>
                <td><input type="number" value="{{cliente.cuit}}" class="form-control" name="cuit"
                        placeholder="cuit-cuil-dni" autofocus></td>
                <td> <input type="text" value="{{cliente.direccion }}" class="form-control" name="direccion"
                        placeholder="Direccion" autofocus required></td>
                
                <thead class="table-dark">
                 <th scope="col">Telefono</th>
                {{#each clientetelefono}}
                </thead>    
                <td><input type="number" id="{{id}}" value="{{telefono}}" class="form-control" name="telefonos[]" placeholder="Telefono" required></td>
                </div>
                {{/each}}
                 <thead class="table-dark">
                 <th scope="col">Email</th>
                {{#each clientEmail}}
                </thead>
                <td><input type="text" id="{{id}}" value="{{email}}" class="form-control" name="emails[]" placeholder="E-mail" required></td>
                {{/each}}
                <td><div class="form-group">
                        <button class="btn btn-success btn-block"> Guardar</button></td>
            </tbody>
            </form>
        </tr>
    </tbody>
</table>
</div>