<div class="container mb-5">
    <div class="col-md-10 mx-auto mt-5 md-2">
        <div id="factura" class="card">
            <div class="card-header text-center bg-warning">
                <h3>Finalizar Compra</h3>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div> <span style="text-align: left;">Nombre del Cliente :</span><span
                            style="text-align: right;"><b>{{usuario.nombre}}</b></span></div>
                </div>
                <div class="row mb-3">
                    <label for="cliente">Direccion</label>
                    <div class="col-sm-8 ml-1"><span style="text-align: center;"><b>{{usuario.direccion}}</b></span></div>
                </div>
                 <div class="row mb-3">
                    <label for="cliente">CUIT-DNI-CUIL</label>
                    <div class="col-sm-8 ml-1"><span style="text-align: center;"><b>{{usuario.cuit}}</b></span></div>
                </div>
            </div>
             <form action="/links/factura/{{usuario.id}}" method="POST">
            <div class="row row-cols-1 row-cols-md-3 g-3 ">
                {{#each consulta}}
                <div class="col m-3">
                    <div class="card text-dark border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header"><b>Contenedor</b></div>
                        <div class="card-body text-primary">
                            <h5 class="card-title">Marca :{{marca}}</h5>
                            <p class="card-text ">Usted ha elegido el Contenedor {{NroContenedor}}. <br> El Peso es
                                de {{Tara}} kgs.<br> La capacidad es de {{IdCapacidad}} Pies.</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        <div class="d-grid gap-2 col-md-5 mx-auto">
            <a class="btn btn-danger btn-lg" href="/links/persona/:id">Cancelar Compra</a>
           
            <button class="btn btn-success btn-lg">Aceptar Compra</button>
            
        </div>
        </form>
        </div>
    </div>
</div>