<div class="container py-5">
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="card bg-secondary text-white">
        <div class="card-header text-center">
        <span><u>DATOS PERSONALES</u></span>
        </div>
        <div class="card-body"> 
          <p class="m-2">Usuario: {{usuario.usuario}}</p>
          <p class="m-2">Nombre: {{usuario.nombre}}</p>
          <p class="m-2">Dirección: {{usuario.direccion}}</p>
          <p class="m-2">CUIT-CUIL-DNI: {{usuario.cuit}}</p>
          <a href="/links/editar/{{usuario.id}}" class="btn btn-success">Editar</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-secondary text-white">
        <div class="card-header text-center">
        <span><u>TELEFONO CONTACTO</u></span>
        </div>
        <div class="card-body"> 
          {{#each telefono}}
          <p class="m-2">Telefono: {{telefono}}</p>
          {{/each}}
          <a href="/links/editar/{{usuario.id}}" class="btn btn-success">Editar</a>
          <a href="/links/agregarContacto/{{usuario.id}}" class="btn btn-info">Agregar</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-secondary text-white">
         <div class="card-header text-center">
        <span><u>E-MAIL CONTACTO</u></span>
        </div>
        <div class="card-body"> 
          {{#each email}}
          <p class="m-2">E-mail: {{email}}</p>
          {{/each}}
          <a href="/links/editar/{{usuario.id}}" class="btn btn-success">Editar</a>
          <a href="/links/agregarContacto/{{usuario.id}}" class="btn btn-info">Agregar</a>
        </div>
      </div>
    </div>
  </div>
</div>
